<!DOCTYPE html>
<html>
<head>
    <title>Shop - Products</title>
</head>
<body>
    <h1>All Products</h1>
    {% for product in products %}
        <div>
            <img src="{{ product.image.url }}" width="150">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
            <p>₹{{ product.price }}</p>
            <a href="{% url 'product_detail' product.pk %}">View</a>
            <a href="{% url 'cart_add' product.pk %}">Add to Cart</a>
        </div>
    {% endfor %}
    <a href="{% url 'cart_detail' %}">View Cart</a>
</body>
</html>
